@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');
body{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
    border: 2px solid red;
}
button{
    background-color: rgb(14, 247, 239);
    border:none;
    border-radius: 20px;
    padding:10px;
    color:black;
    width:10%;
    font-family:'Times New Roman', Times, serif;
    box-shadow: 5px 5px 5px palevioletred;
}
