@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');
body{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
    border: 2px solid red;
}
.carousel{
     width:500px;
     height: 500px;
     overflow: hidden;
     box-shadow: 5px 5px 5px palevioletred;
}
.image-container{
    display:flex;
    transition: transform 0.3s linear;
    transform: translateX(0);
}
img{
    width:500px;
     height: 500px;
     object-fit: cover;
}