@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');
body{
    background-color: rgb(252, 169, 68);
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
    border: 2px solid red;
}
.btn{
    background-color: rgb(255, 140, 0);
    border-radius: 25px;
    border:none;
    margin:5px;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size:18px;
    padding:10px;
}